{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=decive-width, initial-scale=1, shrink-to-fit=no">
        <title>Board games</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body style="background-color:black;">
        <div class="banner">
            <div class="navbar">
                <img src="{% static 'css/logo.png' %}" class="logo">
                <ul>
                    <li><a href="{% url "board_game_app:index" %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url "board_game_app:board_games" 0 %}">Board games</a></li>
                    <li><p style="color:white;">Hello, {{ user.username }}.</p></li>
                    <li><a href="{% url "users_app:logout" %}">Log out</a></li>
                    {% else %}
                    <li><p style="color:white;">Login to view board games.</p></li>
                    <li><a href="{% url "users_app:login" %}">Log in</a></li>
                    <li><a href="{% url "users_app:register" %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <main role="main" class="container">
            <div>
                {% block content %}{% endblock content %}
            </div>
        </main>
    </body>
</html>