{% extends "board_game_app/base.html" %}

{% block page_header %}
    <h3>{{board_game}}</h3>
    <a href="{% url "board_game_app:edit_board_game" board_game.id %}"> Edit Board game</a>
    {% if borrowed < 3 %}
    <a href="{% url "board_game_app:borrow_board_game" board_game.id %}"> Borrow Board game</a>
    {% else %}
    <p>You already have the max ammount of game borrowed</p>
    {% endif %}
    {% if board_game.owner != None or user == board_game.owner %}
    <a href="{% url "board_game_app:return_board_game" board_game.id %}"> Reuturn Board game</a>
    {% endif %}

{% endblock page_header %}

{% block content %}
    <p>
        <a href="{% url "board_game_app:new_review" board_game.id %}"> Add a new review</a>
    </p>
    {% for review in reviews %}
        <div class="card mbn-3">
            <h4 class="card-header">
                {{ review.date_added|date:"M d, Y H:i:s" }}
            </h4>
            <div class="card-body">
                {{ review.my_review|linebreaks }}
            </div>
        </div>
           
    {% empty %}
        <p>There are no reviews for this book yet</p>
    {% endfor %}
{% endblock content %}