{% extends "board_game_app/base.html" %}

{% block page_header %}
    <h1>Board games</h1>
{% endblock page_header %}

{% block content %}
    <ul>
        {% for board_game in board_games %}
        <li><h3>
            <a href="{%  url "board_game_app:board_game" board_game.id %}"> {{ board_game }}</a>   
        </h3></li>
        {% empty %}
        <li><h3>No boardgames have been added yet</h3></li>
        {% endfor %}
    </ul>
    <h3><a href="{% url 'board_game_app:new_board_game' %}">Add a new board game</a></h3>


{% endblock content %}