{% load static %}

<html>
<head>
    <title>Avaible board games</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <img src="{% static 'css/logo.png' %}" class="logo">
            <ul>
                <li><a href="{% url "board_game_app:index" %}">Home</a></li>
                <li><a class="nav-link" href="{% url "board_game_app:board_games" 0 %}">Loan</a></li>
                <li><a href="{% url "users_app:login" %}">Log in</a></li>
                <li><a href="{% url "users_app:logout" %}">Log out</a></li>
            </ul>
        </div>
        
        
        <div class="content">
            <h3>{{board_game}}</h3>
            <br>
            <br>
            <ul>
                {% if board_game.owner != None and user == board_game.owner %}
                <li><a href="{% url "board_game_app:edit_board_game" board_game.id %}"> Edit Board game</a></li>
                {% endif %}
                {% if borrowed < 3 %}
                <br>
                <li><a href="{% url "board_game_app:borrow_board_game" board_game.id %}"> Borrow Board game</a></li>
                {% else %}
                <p>You already have the max ammount of game borrowed</p>
                {% endif %}
                {% if board_game.owner != None and user == board_game.owner %}
                <br>
                <li><a href="{% url "board_game_app:return_board_game" board_game.id %}"> Reuturn Board game</a></li>
                {% endif %}
                
                <p>
                    <a href="{% url "board_game_app:new_review" board_game.id %}"> Add a new review</a>
                </p>
                    {% for review in reviews %}
                        <div class="card mbn-3">
                            <h4 class="card-header">
                                {{ review.date_added|date:"M d, Y H:i:s" }}
                            </h4>
                            <div class="card-body">
                                {{ review.my_review|linebreaks }}
                            </div>
                        </div>
                    {% empty %}
                        <p> There are no reviews for this game yet </p>
                    {% endfor %}
                    </ul>

        </div>
        <div
         
        </div>
    </div>
</body>
</html>